section .blog {
  background: url("../imgs/abstract.jpg");
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
  background-size: 100%;
}
section .blog .blog-post {
  padding-top: 6rem;
}
section .blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
section .blog-content .blog-title {
  padding: 2rem 0;
}
section .blog-content .btn-blog {
  padding: 0.7rem 2rem;
  background: var(--sky);
  margin: 0.5rem;
}
section .blog-content span {
  display: block;
}

section .container .owl-nav {
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
  font-size: larger;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
  color: var(--text-grey);
  background: transparent;
  font-size: 2rem;
}
.owl-navigation {
  background: transparent;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: var(--midnight);
}
.owl-theme .owl-nav [class*="owl-"]{
    outline: transparent;
}