/* Fonts */
@font-face {
  font-family: Abel;
  src: url("./fonts/Abel/Abel-Regular.ttf");
}

@font-face {
  font-family: Anton;
  src: url("./fonts/Anton/Anton-Regular.ttf");
}

@font-face {
  font-family: Josefin;
  src: url("./fonts/Josefin_Sans/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: Lexend;
  src: url("./fonts/Lexend_Deca/LexendDeca-Regular.ttf");
}

@font-face {
  font-family: Livvic;
  src: url("./fonts/Livvic/Livvic-Regular.ttf");
}

/* Variables */
:root {
  /* colors */
  --text-grey: #1b2a49;
  --text-light: #00909e;
  --white: #c9d1d3;
  --bg-color: #110133;
  --midnight: #465881;
  /* gradient */
  --sky: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

  /* fonts */
  --Abel: "Abel", cursive;
  --Anton: "Anton", cursive;
  --Josefin: "Josefin", cursive;
  --Lexend: "Lexend", cursive;
  --Livvic: "Livvc", cursive;
}

html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--text-grey);
}
